accelerate==0.18.0
controlnet_aux==0.0.3
diffusers==0.15.0
einops==0.6.0
gradio==3.26.0
huggingface-hub==0.13.4
opencv-python-headless==4.7.0.72
safetensors==0.3.0
torch==2.0.0
torchvision==0.15.1
transformers==4.28.1
xformers==0.0.18
